@model IEnumerable<PetWebs.Models.Mascota>

@Html.Partial("_LoginPartial")
@if (Request.IsAuthenticated)
{

    <div id="Menu">




        <div class="row ">
            <div class="col-2 " style="background-color:teal;">

                <br />
                <img class="rounded mx-auto d-block" src="~/Content/Img/Icon Menu.png " style="width:100px; height:100px; " />

                <br />
                <ul style="list-style:none; " class="dropdown-item">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home", null, new { style = " text-decoration:none; color: white;;" })
                    </li>
                </ul>
                <ul style="list-style:none; " class="dropdown-item">
                    <li>
                        @Html.ActionLink("Mascotas*", "Index", "VW_NuevaFicha", null, new { style = " text-decoration:none; color: white;;" })
                    </li>
                </ul>
                <ul style="list-style:none; " class="dropdown-item">
                    <li>
                        @Html.ActionLink("Nuevo Cliente", "NuevoCliente", "Clientes", null, new { style = " text-decoration:none; color: white;" })
                    </li>
                </ul>
                <ul style="list-style:none; " class="dropdown-item">
                    <li>
                        @Html.ActionLink("Nueva Mascota*", "Create", "Mascotas", null, new { style = " text-decoration:none; color: white;" })
                    </li>
                </ul>
                <ul style="list-style:none; " class="dropdown-item">
                    <li>
                        @Html.ActionLink("Defunción*", "Index", "VW_Defunciones", null, new { style = " text-decoration:none; color: white;" })
                    </li>
                </ul>
                <ul style="list-style:none; " class="dropdown-item">
                    <li>
                        @Html.ActionLink("Leyes*", "Leyees", "Home", null, new { style = " text-decoration:none; color: white;" })
                    </li>
                </ul>

                <ul style="list-style:none; " class="dropdown-item">
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white;">Cerrar sesión</a>
                    </li>
                </ul>



            </div>

            <div class="col-lg-10" style="background-color: rgba(255, 255, 255, 0.89) ; max-height: 100%; padding:20px;">

                <br />

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Sexo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Peso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Color)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaNacimiento)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Esterilizado)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Defuncion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaDef)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CausaDef)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ObserDef)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cliente.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Especie1.Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Raza1.Nombre)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sexo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Peso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Color)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaNacimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Esterilizado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Defuncion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaDef)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CausaDef)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ObserDef)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Especie1.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Raza1.Nombre)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Microchip }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Microchip }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Microchip })
                            </td>
                        </tr>
                    }

                </table>


            </div>

            <br />
            <br />

        </div>

    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

}

